In [1]:
import pandas as pd
import numpy as np
import pickle # for exporting the model
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
import xgboost # extreeme gradient boosting
from sklearn.ensemble import GradientBoostingRegressor # gradient boosting
from sklearn.utils import resample # oversampling / undersampling is only to be done on the TRAINING set
from sklearn.ensemble import RandomForestRegressor


from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [2]:
# import sys
# !{sys.executable} -m pip install xgboost

**Examples and tips**

In [3]:
# Pickle/Unpickle

# pickle X_test.to_pickle('xtest.p'), y_test.to_pickle('ytest.p')

# unpickle xgb_model = pickle.load(open('model (1).p','rb'))

In [4]:
# Gradient Regressor
# gb_reg = GradientBoostingRegressor(max_depth=5, n_estimators=100, random_state=1)
# gb_reg.fit(X_train, y_train)
# gb_reg.score(X_test,y_test)

In [5]:
# GradientBoostingRegressor

#gb_reg = GradientBoostingRegressor(max_depth=5, #gradient boosting always works with trees, no need to call the tree regressor
#                                  n_estimators=100,
#                                   random_state=1 # tastes like chicken
#                                   )
#gb_reg.fit(X_train, y_train)
#gb_reg.score(X_test,y_test)

In [6]:
# Random forest regressor

#forest = RandomForestRegressor(n_estimators=10, # same 10 trees
#                               max_depth=3, # depth 3 to force tree to be "weak"
#                               random_state=1) # fixing rand because I'm insecure and afraid you will judge me if I get a bad random selection that does not prove my point
#forest.fit(X_train, y_train)
#forest.score(X_test,y_test)

In [7]:
# Extreeme gradient boosting

#xgb_reg = xgboost.XGBRegressor()
#xgb_reg.fit(X_train, y_train)
#xgb_reg.score(X_test,y_test)

In [8]:
# Normalize columns of pandas data frame
# normalized_df=(df-df.mean())/df.std()

In [9]:
# Pricission scores
# print("precision: ",precision_score(y_test,pred))
# print("recall: ",recall_score(y_test,pred))
# print("f1: ",f1_score(y_test,pred))

**Start From Here**

In [10]:
sales = pd.read_csv('sales.csv')

In [11]:
sales.head()

,Unnamed: 0,store_ID,day_of_week,date,nb_customers_on_day,open,promotion,state_holiday,school_holiday,sales
0,425390,366,4,2013-04-18,517,1,0,0,0,4422
1,291687,394,6,2015-04-11,694,1,0,0,0,8297
2,411278,807,4,2013-08-29,970,1,1,0,0,9729
3,664714,802,2,2013-05-28,473,1,1,0,0,6513
4,540835,726,4,2013-10-10,1068,1,1,0,0,10882

In [12]:
sales.shape

(640840, 10)